/* popup */

.telegram_chart .popup {
	pointer-events: none;

	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 1px 1px #d8d8d8;

	position: absolute;
	padding: 6px 2px 4px;

	max-width: 166px;
}

.dark-theme .telegram_chart .popup {
	background: #253241;
	box-shadow: 0 1px 1px 1px #1e2834;
}

.telegram_chart .popup .title {
	font-size: 12px;
	margin-right: 8px;
	margin-left: 8px;
}

.telegram_chart .popup .column {
	float: left;
	margin-top: 8px;
	margin-right: 8px;
	margin-left: 8px;
}

.telegram_chart .popup .value {
	font-weight: bold;
	font-size: 14px;
}

.telegram_chart .popup .label {
	font-size: 10px;
	margin-bottom: 1px;
}

/* CHECK */

.telegram_chart .checks {
	padding-left: 11px;
	padding-right: 11px;
}

.telegram_chart .checkbox {
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	border: 1px solid #e6ecf0;
	border-radius: 16px;

	padding: 9px 14px 8px 37px;

	margin-right: 14px;
	margin-top: 12px;
	cursor: pointer;
	font-size: 13px;

	color: #43484b;
}

.dark-theme .telegram_chart .checkbox {
	border-color: #344658;
	color: #e8ecee;
}

.telegram_chart .checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.telegram_chart .checkbox .circle {
	box-sizing: border-box;
	position: absolute;
	top: 6px;
	left: 7px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #3cc23f;
	transition: border-width 0.3s linear;
}

.dark-theme .telegram_chart .checkbox .circle {
	background-color: #242f3e;
}

.telegram_chart .checkbox:hover input ~ .circle {
}

.telegram_chart .checkbox input:checked ~ .circle {
	border-width: 10px;
}

.telegram_chart .checkbox .symbol {
	position: absolute;
	display: block;
	left: 12px;
	top: 12px;

	width: 10px;
	height: 10px;

	background-image: url('../static/check.svg');
	background-size: cover;
	background-repeat: no-repeat;

	-webkit-transform: scale(0.1, 0.1);
	-ms-transform: scale(0.1, 0.1);
	transform: scale(0.1, 0.1);

	opacity: 0;
	transition: opacity 0.3s linear, transform 0.3s linear;
}

.telegram_chart .checkbox input:checked ~ .symbol {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

